@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p class="fw-bold text-info">Mecânica Asp Net Core MVC</p>
<ul class="list-group">
    <li class="list-group-item">.Net 6</li>
     <li class="list-group-item">Bootstrap 5.1.3</li>
     <li class="list-group-item">FontAwesome 6.4.2</li>
</ul>

